body {
    background-image: url('beranda 2.jpg');
    background-size: cover;
}
h1{
    font-size: 50px;
}
.rightmenu{
    margin-top: -70px;
    margin-left: 50px;
	display: block;
    text-align: center;
    border-radius: 2px;
    letter-spacing: -0.2px;
    color: #111;
    font-size: 16px;
    padding: 0px 8px;
}
.rightmenu a{
    margin-left: 25px;
    text-decoration: none;
    color: #040404;
    font-size: 20px;
}
.masuk a{
    float: right;
    color: black;
    top: 5px;
    text-align: center;
    font-size: 20px;
    margin-right: 150px;
    margin-top: -80px;
    text-decoration: none;
}
.daftar a{
    float: right;
    color: #040404;
    text-align: center;
    font-size: 20px;
    margin-right: 70px;
    margin-top: -80px;
    text-decoration: none;
}
.sub-header {
	font-size: 4.5em;
    position: ;
    width: 100%;
    height: 70px;
}
.contact {
    text-align: left;
    margin-left: 120px;
    margin-top: -100px;
    font-size: 1.5em;
    color: black;
}
.contact a{
    text-decoration: none;
}