body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Roboto Condensed', sans-serif;
}

header {
    width: 100%;
    height: 100%;
}

.bg-img {
    background-image: url('Bg.jpg');
    background-position: center;
    background-size;
    height: 1.920 px;
    width:1.080 px;
    height: 100vh;
}