body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Roboto Condensed', sans-serif;
}

h1{
    font-size: 50px;
}

header {
    width: 100%;
    height: 100%;
}

.bg-img {
    background-image: url('Bg.jpg');
    background-position: center;
    background-size;
    height: 100%;
    width:100%;
    height: 100vh;
}

.text{
    margin-left: 500px;
}